@import "header.css";
@import "../fonts/vazir-fonts/fonts.css";

html {
    height: 100%;
}
body {
    height: 100%;
    width: 100%;
    direction: rtl;
    font-family: "Vazir" !important;
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
}

/*background*/
.main-back {
    background: #292929;
}

.rec-title h2{
    text-align: center;
    color: #FFFFFF;
    font-size: small;
    top: 150px;
    position: relative;
}

.row {
    margin-top: 60px;
    margin-bottom: 0px;
    text-align: center;
    border: 0px;
    perspective: 5px;
    overflow: hidden;
    font-size: small;
    color: #FFFFFF;
}

.column {
  float: left;
  width: 22%;
  padding: 15px;

  position: relative;
}

.column ul {
    list-style-type:none;
    padding-inline-start: 0%;
    padding-top: 1%;
    text-align: center;
}

.column img {
    height: 200px;
    width: 200px;
}

.second {
    position: relative;
    margin-top: 0px;
    margin-bottom: 0px;
}

.sort ul {
    margin-top: 0px;
    list-style-type:none;
    padding-inline-start: 0%;
    padding-top: 0%;
    text-align: center;
    font-size: 1.3em;
    line-height: 3em;
    background-color: #B12025;
    border-radius: 25px;
    border: 5px;
    perspective: 1px;
}

.title {
    margin-top: 100px;
    margin-bottom: 0em;
    font-size: 1.3em;
    padding-left = 5px;
}




/*.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}*/

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 76%;
  height: 88%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  background-color: rgba(150, 0, 0, 0.5);
}

.column:hover .image {
  opacity: 0.3;
}

.column:hover .middle {
  opacity: 1;
}

.text {
  color: white;
  font-size: 15px;
  padding: 20px 32px;
  text-align: center;
}