<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Movie</title>
    <style>
      li {
        padding: 5px;
      }
      table {
        width: 20%;
        text-align: center;
      }
    </style>
</head>
<body>

<ul>
    $movie_info
</ul>


<form action="" method="POST">
    <label>Your ID:</label>
    <input type="text" name="user_id" value="" />
    <br><br>
    <label>Rate(between 1 and 10):</label>
    <input type="number" id="quantity" name="quantity" min="1" max="10">
    <button type="submit">rate</button>
</form>
<br>
<form action="" method="POST">
    <label>Your ID:</label>
    <input type="text" name="user_id_watchList" value="" />
    <br><br>
    <button type="submit">Add to WatchList</button>
</form>
<br />
<table>
    <tr>
        <th>nickname</th>
        <th>comment</th>
        <th></th>
        <th></th>
    </tr>
    $comments_info
</table>
</body>
</html>

