<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Movies</title>
    <style>
        table{
            width: 100%;
            text-align: center;
        }
    </style>
</head>
<body>
<table>
    <tr>
        <th>name</th>
        <th>summary</th>
        <th>releaseDate</th>
        <th>director</th>
        <th>writers</th>
        <th>genres</th>
        <th>cast</th>
        <th>imdb Rate</th>
        <th>rating</th>
        <th>duration</th>
        <th>ageLimit</th>
        <th>Links</th>
    </tr>
            <tr>
            <td>zahra</td>
            <td>good movie</td>
            <td>2000-01-02</td>
            <td>fatemeh</td>
            <td></td>
            <td>Action</td>
            <td>hasan</td>
            <td>1.0</td>
            <td>null</td>
            <td>1</td>
            <td>1</td>
            <td><a href="/movies/1">Link</a></td>

        </tr>

</table>
</body>
</html>